h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 75px;
}

.topic {
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  gap: 40px;
  padding: 40px;
  background-color: #fff;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.profile_wrap a {
  font-size: 18px;
  margin-bottom: 20px;
  margin-right: auto;
}

.topic__name {
  display: grid;
  gap: 10px;
}

.topic__name span {
  display: flex;
  width: fit-content;
  font-size: 18px;
  font-weight: 400;
  color: var(--gray);
}

.topic__name span::before {
  content: "";
  width: 5px;
  height: 100%;
  margin-right: 5px;
  background-color: var(--orange);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.topic__name h1 {
  font-size: 38px;
  font-weight: 600;
  line-height: 47.5px;
}

.topic__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.topic__tags span {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.22px;
  padding: 10px;
  background-color: var(--main_bg);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.topic>p {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}

.page_404 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.page_404_text {
  display: grid;
  gap: 25px;
}

.page_404_text h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: 40px;
}

.page_404_text p {
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
}

.page_404>span {
  font-size: 250px;
  font-weight: 500;
  line-height: 310px;
  letter-spacing: -0.05em;
  user-select: none;
  background: linear-gradient(180deg, #F84F39 -30.36%, rgba(248, 79, 57, 0) 87.62%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.userPage_wrap {
  display: flex;
  flex-direction: column;
  margin-top: 47px;
}

.userPage_wrap__header {
  display: grid;
  grid-template-columns: 146px auto;
  padding: 30px 20px 0px;
  gap: 20px;
  background-color: #fff;
  margin-bottom: 25px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.userPage_wrap__header__avatar {
  position: relative;
  display: flex;
}

.userPage_wrap__header__avatar>div {
  position: absolute;
  top: -77px;
}

.userPage_wrap__header__content {
  display: grid;
  gap: 20px;
  width: 100%;
}

.userPage_wrap__header__content>.serializer {
  width: 100%;
  height: 1px;
  background-color: #EAECF0;
}

.userPage_wrap__header__content__info {
  display: grid;
  gap: 8px;
}

.userPage_wrap__header__content__info span {
  font-size: 22px;
  font-weight: 600;
  line-height: 22px;
}

.userPage_wrap__header__content__info p {
  display: flex;
  color: var(--gray);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  gap: 6px;
}

.userPage_wrap__header__content__info a {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #1414CC;
}

.userPage_wrap__header__content__info a::before {
  content: "";
  display: flex;
  width: 3px;
  height: 3px;
  background-color: var(--gray);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.userPage_wrap__card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 25px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.userPage_wrap__card>h2 {
  font-size: 26px;
  font-weight: 500;
  line-height: 32.24px;
  border-bottom: 1px solid #EAECF0;
  padding-bottom: 25px;
}

.MuiDataGrid-columnHeaderTitle {
  color: #475467;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.MuiDataGrid-columnHeader:focus-within,
.MuiDataGrid-columnHeader:focus {
  outline: none;
}

.list_wrap {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 100%;
}

.list_wrap>h2 {
  justify-self: center;
}

.MyTopics_wrap__header>div {
  display: flex;
  gap: 10px;
}