@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-ExtraBoldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-ExtraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'TT Interfaces';
  src: url('../public/fonts/TTInterfaces-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

* {
  font-family: 'TT Interfaces';
  padding: 0;
  margin: 0;
  text-decoration: none;
}

body {
  --main_bg: #F3F2FA;
  --orange: #F84F39;
  --gray: #4f4d7a;
  --black: #26253B;
  --green: #629C28;
  --opacity_red: #F84F3926;
  --opacity_green: #E6F6D1;
  background-color: var(--main_bg);
  color: var(--black);
}

.bg--red {
  background-color: var(--opacity_red);
}

.bg--green {
  background-color: var(--opacity_green);
}

.bg--orange {
  background-color: var(--orange);
}

button.color--green {
  color: var(--green);
}

button.border--green {
  border-color: var(--green);
}

button.border--green:hover {
  background-color: var(--opacity_green);
  color: var(--green);
  border-color: var(--opacity_green);
}

button.color--orange {
  color: var(--orange);
}

button.border--red {
  border-color: var(--opacity_red);
}

button.border--red:hover {
  background-color: var(--opacity_red);
  border-color: var(--opacity_red);
  color: var(--orange);
}

.color--orange {
  color: var(--orange);
}

.App {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 50px;
  min-height: 100vh;
}

.App>div:first-child {
  padding-left: 2.6vw;
}

.App>div:last-child {
  padding-right: 2.6vw;
}

textarea,
input {
  border: 1px solid #EAECF0;
  background-color: #fff;
  padding: 12px 13px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--gray);
  border-radius: 8px;
  resize: none;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

textarea {
  height: 150px;
}

textarea:hover,
input:hover {
  border-color: #f84f3988;
  outline: none;
}

textarea:focus-visible,
input:focus-visible {
  border-color: var(--orange);
  outline: none;
}

.fill-button {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 20px;
  text-align: center;
  height: fit-content;
  color: #fff;
  padding: 14px;
  width: fit-content;
  border: 1px solid var(--orange);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.border-button {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 12px;
  text-align: center;
  color: var(--orange);
  padding: 16px 12px;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  border: 1px solid var(--orange);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.border-button:hover {
  background-color: var(--orange);
  color: #fff;
}

.opacity-button {
  display: flex;
  cursor: pointer;
  padding: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  word-wrap: unset;
  height: fit-content;
  gap: 5px;
  white-space: nowrap;
  align-items: center;
  border: none;
  width: fit-content;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.button-text {
  cursor: pointer;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  border: none;
  background-color: transparent;
}

textarea:read-only,
input:read-only {
  background-color: #1018280D;
}

textarea:read-only:focus,
input:read-only:focus {
  border-color: #EAECF0;
}

.loading_wrap {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, .3);
}

.loading_wrap>div {
  display: flex;
  padding: 5px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.default_form {
  display: grid;
  gap: 20px;
  max-width: 890px;
  padding: 30px;
  margin-top: 35px;
}

.default_form__footer {
  display: flex;
  gap: 10px;
}

.MuiDrawer-paper .default_form {
  margin-top: 0;
  max-width: none;
}

.default_form__row {
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 3fr;
  border-bottom: 1px solid #EAECF0;
  padding-bottom: 20px;
  gap: 32px;
}

.default_form__row span {
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: var(--black);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 2.5px 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}